doctype html
html
    head
        title= title
        meta(name="description" content="Website of Timothy Tse")
        meta(name="keywords" content="tim, timothy, timothy tse, timothy m tse, programming, programmer, software, engineer, javascript, java, node, express, pug, web development, python")
        link(rel='stylesheet' href='/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        div(class="container")
            if hasResultMessage
                div(class="row")
                    div(class="col")
                        h2(style="color: white;")=resultMessage
            div(class="row p-3")
                div(class="col")
                    form(name="guestform" action="/updateguest" method="post")
                        input(type="hidden" id="guestId" name="guestId" value=guest._id)
                        div(class="form-group")
                            label(for="guestName" class="section-header")="Guest Name"
                            input(type="text" name="guestName" id="guestName" class="form-control" value=guest.name)
                        div(class="form-group")
                            label(for="guestEmail" class="section-header")="Guest Email"
                            input(type="email" name="guestEmail" id="guestEmail" class="form-control" value=guest.email)
                        div(class="form-group")
                            label(for="guestPhone" class="section-header")="Guest Phone"
                            input(type="text" name="guestPhone" id="guestPhone" class="form-control" value=guest.phone)
                        div(class="form-group")
                            label(for="guestCount" class="section-header")="Guest Count"
                            input(type="text" name="guestCount" id="guestCount" class="form-control" value=guest.numguests)
                        button(class="nav-btn btn" type="Submit")="Update"
            div(class="row p-3")
                div(class="col-lg-3")
                    a(class="nav-btn btn" href="/" + Connection + "/all")="Back"